#d{
			width: 50%;
			margin: 0 auto;
		}
		form{
			border: 1px solid #000;
			padding: 10px;
			width:400px;
			margin: 0 auto;
			border-radius: 5px;
			background: grey;
		}
		input[type="email"],input[type="password"]{
			padding: 4px;
			margin-top: 3px;
		}

		input[type="submit"]{
			padding: 2px;
			margin-top: 3px;
			color: #1fb12a;
			background: #ddd;
			width: 100px;
			height: 30px;

			cursor: pointer;
		}

		form img{
			width: 100px; height: 100px;
			border-radius: 100%;
			text-align: center;
			margin-left: 150px;
		}

		input[type="button"]{
			padding: 2px;
			margin-top: 3px;
			color: #1fb12a;
			background: #ddd;
			width: 120px;
			height: 30px;
		}
		table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}